@import url(fonts.scss);

.body {
  background-color: #6CB0FF;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto';
    padding: 0 20px;
}
.btn {
  display: block;
  background-color: #2E5FC6;
  font-weight: bold;
  border-radius: 40px;
  min-width: 100px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: #3772ec;
  }
}