<template>
  <div class="challenge">
    <h2 class="challenge__header">Мой вызов</h2>
    <div class="progress">
      <ValueProgress />
      <PlanProgress />
      <Read />
    </div>
  </div>
</template>

<script>
import PlanProgress from "@/components/PlanProgress";
import ValueProgress from "@/components/ValueProgress";
import Read from "@/components/Read";
export default {
  name: "Challenge",
  components: { PlanProgress, ValueProgress, Read },
};
</script>

<style lang="scss">
.challenge {
  padding-top: 20px;
  &__header {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
    margin-bottom: 40px;
  }
}
</style>
