<template>
  <div class="home">
    <h1 class="home__title">ПОСТАВЬТЕ СЕБЕ ЦЕЛЬ, ЧТОБЫ БОЛЬШЕ ЧИТАТЬ!</h1>
    <div class="challenge">
      <form class="challenge__form" @submit.prevent="onSubmit">
        <div class="challenge__control">
          <div class="challenge__text">Я прочитаю</div>
          <div class="challenge__number">
            <input type="number" v-model.number="books" />
          </div>
          <div class="challenge__text">книг в 2021</div>
        </div>
        <button class="btn challenge__btn" type="submit">Принять вызов</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  data() {
    return {
      books: null,
    };
  },
  methods: {
    onSubmit() {
      const data = {
        books: this.books,
        date: Date.now(),
      };
      console.log(data);
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding: 140px 0;
  &__title {
    font-size: 56px;
    text-align: center;
    max-width: 848px;
    margin: 0 auto;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 72px;
    color: #fff;
    margin-bottom: 60px;
  }
}
.challenge {
  background-color: #fff;
  padding: 70px;
  border-radius: 20px;
  max-width: 740px;
  margin: 0 auto;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 32px;
  }
  &__number {
    margin-left: 16px;
    margin-right: 16px;
    input {
      max-width: 70px;
      height: 52px;
      text-align: center;
      border-radius: 4px;
      font-size: 32px;
      border: none;
      border: 1px solid #a6a6a6;
    }
  }
  &__date {
    margin-left: 16px;
    input {
      height: 52px;
      text-align: center;
      border-radius: 4px;
      font-size: 32px;
      border: none;
      border: 1px solid #a6a6a6;
    }
  }
  &__btn {
    border: none;
    cursor: pointer;
    height: 52px;
    font-size: 24px;
  }
}
</style>
