<template>
  <div class="auth">
    <div class="modal">
      <div class="modal__title">Войти</div>
      <form class="auth__form" @submit.prevent="onSubmit">
        <div :class="['auth__control', { invalid: eError }]">
          <input
            type="text"
            placeholder="Email"
            v-model="email"
            @blur="eBlur"
          />
          <span v-if="eError">{{ eError }}</span>
        </div>
        <div :class="['auth__control', { invalid: pError }]">
          <input
            type="text"
            placeholder="Пароль"
            v-model="password"
            @blur="pBlur"
          />
          <span v-if="pError">{{ pError }}</span>
        </div>
        <button
          class="btn auth__btn"
          type="submit"
          :disabled="isSubmitting || isTooManyAttempts"
        >
          Войти
        </button>
        <span v-if="isTooManyAttempts"
          >Вы слишком часто пытаетесь войти в систему. Попробуйте позже</span
        >
      </form>
    </div>
  </div>
</template>

<script>
import { computed, watch } from "vue";
import * as yup from "yup";
import { useField, useForm } from "vee-validate";
export default {
  setup() {
    const { handleSubmit, isSubmitting, submitCount } = useForm();

    const MIN_LENGTH = 6;

    const {
      value: email,
      errorMessage: eError,
      handleBlur: eBlur,
    } = useField(
      "email",
      yup
        .string()
        .trim()
        .required("Пожалуйста введите email")
        .email("Необходимо ввести корректный email")
    );
    const {
      value: password,
      errorMessage: pError,
      handleBlur: pBlur,
    } = useField(
      "password",
      yup
        .string()
        .trim()
        .required("Пожалуйста введите пароль")
        .min(MIN_LENGTH, `Пароль не может быть меньше ${MIN_LENGTH} символов`)
    );

    const isTooManyAttempts = computed(() => submitCount.value >= 3);

    watch(isTooManyAttempts, (val) => {
      if (val) {
        setTimeout(() => (submitCount.value = 0), 1500);
      }
    });

    const onSubmit = handleSubmit((values) => {
      console.log(values);
    });

    return {
      email,
      eError,
      eBlur,
      password,
      pError,
      pBlur,
      onSubmit,
      isSubmitting,
      isTooManyAttempts,
    };
  },
};
</script>

<style lang="scss" scoped>
.auth {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  &__control {
    margin-bottom: 20px;
    position: relative;

    input {
      height: 36px;
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
      padding: 4px;
    }
    span {
      display: block;
      padding-top: 5px;
      color: red;
    }
  }
  &__btn {
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    font: 300 18px/32px "Source Sans Pro", sans-serif;
  }
}
.modal {
  width: 400px;
  background-color: #fff;
  padding: 20px;

  &__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    font: 300 26px/32px "Source Sans Pro", sans-serif;
  }
}
.invalid {
  input {
    border-color: red;
  }
}
</style>
