<template>
  <div class="progress-plan">
    <div class="progress-plan__month">
      <p><b>2</b>План на месяц</p>
    </div>
    <div class="progress-plan__current">
      <p><b>3</b>Текущий темп</p>
    </div>
    <div class="progress-plan__statistics">
      <vue3-chart-js v-bind="{ ...lineChart }" />
    </div>
  </div>
</template>

<script>
import Vue3ChartJs from "@j-t-mcc/vue3-chartjs";

export default {
  components: {
    Vue3ChartJs,
  },
  setup() {
    const lineChart = {
      type: "line",
      options: {
        plugins: {
          legend: false,
          tooltip: false,
        },
      },
      data: {
        labels: [
          "Январь",
          "Февраль",
          "Март",
          "Апрель",
          "Май",
          "Июнь",
          "Июль",
          "Август",
          "Сентябрь",
          "Октябрь",
          "Ноябрь",
          "Декабрь",
        ],
        datasets: [
          {
            data: [5, 9, 10, 11, 16, 15, 20, 10, 11, 16, 15, 20],
            fill: false,
            borderColor: "#41B883",
            backgroundColor: "#41B883",
          },
        ],
      },
    };

    return {
      lineChart,
    };
  },
};
</script>

<style lang="scss">
.progress-plan {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  &__month,
  &__current {
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
    width: 200px;
    height: 198px;
    background: rgba(255, 255, 255, 0.75);
    margin-right: 20px;

    p {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #000000;
      font: 16px/36px "Source Sans Pro", sans-serif;
    }

    b {
      font-size: 71px;
      line-height: 84px;
      font-weight: 600;
    }
  }
  &__statistics {
    font-family: "Source Sans Pro", sans-serif;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 24px;
    box-sizing: border-box;
    padding: 24px;
  }
}
</style>
