<template>
  <div class="read">
    <h3 class="read__title">Прочитал(а) 5</h3>
    <div class="read__list">
      <a class="read__add">Добавить книгу</a>
      <div class="read__item">
        <img src="../assets/images/boocover.jpg" alt="" />
        <a>Sapiens. Краткая история человечества</a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.read {
  margin-top: 54px;
  &__title {
    font: 600 32px/40px "Source Sans Pro", sans-serif;
    margin: 0;
    color: #f8db73;

    span {
      font: 300 40px/40px "Source Sans Pro", sans-serif;
    }
  }
  &__list {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
  }
  &__add {
    display: flex;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 8px 8px 24px 24px;
    position: relative;
    text-align: center;
    width: 170px;
    height: 300px;
    color: #88898c;
    font: 300 26px/32px "Source Sans Pro", sans-serif;
    padding: 55px 0 0;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 44px;
      width: 4px;
      top: calc(50% - 22px);
      left: calc(50% - 2px);
      background: #88898c;
      border-radius: 2px;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
    }
    &::after {
      transform: rotate(90deg);
    }
    &:hover {
      background: #c9c6c6;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 300px;
    margin: 10px;
    img {
      object-fit: contain;
      border-radius: 8px 8px 0px 0px;
    }
    a {
      text-align: center;
      font-size: 14px;
    }
  }
}
</style>
