<template>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a class="logo" href="">КНИЖНЫЙ ВЫЗОВ</a>
        <div class="header__right">
          <a @click.prevent="open" class="btn header__btn" href="#">Войти</a>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
export default {
  methods: {
    open() {
      this.$emit("open-modal");
    },
  },
};
</script>
<style lang="scss">
.header {
  background-color: #fff;
  &__inner {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    font-size: 14px;
  }
}
.logo {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  max-width: 99px;
}
</style>
