<template>
  <div class="progress-value">
    <ul class="progress-value__list">
      <li class="progress-value__item">
        <p><span class="progress-value__color-yellow">3</span>/ 9</p>
        <p>Прочитал(а)</p>
      </li>
      <li class="progress-value__item">
        <p><span class="progress-value__color-red">7</span>/ 9</p>
        <p>План чтения</p>
      </li>
      <li class="progress-value__item">
        <p><span class="progress-value__color-blue">6</span></p>
        <p>Хочу прочитать</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
.progress-value {
  margin: 10px 0 30px 0;
  &__list {
    display: flex;
    margin: 0 0 0 16px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    width: 194px;

    span {
      font-size: 71px;
    }
    p {
      font: 300 26px/40px "Source Sans Pro", sans-serif;
      margin: 0;
      color: #fff;
    }
  }
  &__color-yellow {
    color: #f8db73;
  }
  &__color-red {
    color: #fa385d;
  }
  &__color-blue {
    color: #59c7ff;
  }
}
</style>
