<template>
  <div>
    <TheNavBar v-on:openModal="modalShow" />
    <div class="page">
      <div class="container">
        <router-view />
      </div>
    </div>
    <Auth v-if="isModalOpen" />
  </div>
</template>

<script>
import TheNavBar from "@/components/TheNavBar.vue";
import Auth from "@/components/Auth.vue";
export default {
  components: {
    TheNavBar,
    Auth,
  },
  data() {
    return {
      isModalOpen: false,
    };
  },
  methods: {
    modalShow() {
      this.isModalOpen = !this.isModalOpen;
    },
  },
};
</script>

<style lang="scss"></style>
